---
interface Props {
    id: number;
    nombre: string;
    comentario: string;
    imagenPerfil: string;
    fecha: string;
}
const { id, nombre, comentario, imagenPerfil, fecha} = Astro.props;
---
<div class="flex flex-row gap-4 justify-between items-center p-4 mt-4 rounded-3xl border-2 border-gray-400 cursor-pointer">
    <div class="flex flex-row gap-4">
        <img
            src={imagenPerfil || "/assets/ImagenesPerfil/predeterminado.png"}
            alt="perfil"
            class="w-13 rounded-4xl"
        />
        <div>
            <span>{fecha}</span>
            <h1>{nombre}</h1>
            <p>{comentario}</p>
        </div>
    </div>
</div>
