---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404-No existe la pagina">
    <main class="col-span-2 px-6 mt-20 flex flex-col gap-7">
        <div class="flex flex-col gap-4 justify-center items-center">
            <img src="/assets/dog-burning.gif" alt="dog-burning" class="w-1/2 h-1/2 mx-auto" />
            <h1 class="text-4xl font-bold">La pagina no existe</h1>
        </div>
    </main>
</Layout>