---
import TarjetaMensajes from "../components/Tarjetas/TarjetaMensajes.astro";
import MensajesLayout from "../layouts/MensajesLayout.astro";
---

<MensajesLayout title="Mensajes">
    <h1 class="text-2xl font-bold">Sistema de mensajeria ProConnect</h1>
    <TarjetaMensajes/>
    <TarjetaMensajes/>
    <TarjetaMensajes/>
    <TarjetaMensajes/>
    <TarjetaMensajes/>
</MensajesLayout>
