---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mirar Postulaciones">
    <div class="col-span-2 p-6 mt-20 dark:bg-gray-900 bg-white" id="postulaciones">
    </div>
</Layout>
<script src="./../scripts/js/MirarPostulaciones.js"></script>
<script src="./../scripts/js/ValidarSesion.js"></script>
