---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Opciones-Proconnect">
    <main class="col-span-2 px-6 mt-20 flex flex-col gap-7">
        <h1>Opciones </h1>
    </main>
</Layout>
<script src="./../scripts/js/ValidarSesion.js"></script>
