---
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/assets/ProConnect.webp" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main
            class="flex flex-col items-center justify-center h-[100vh] dark:bg-gray-900 dark:text-gray-400 bg-white text-blac"
        >
            <slot />
        </main>
    </body>
</html>
