---
import Layout from "../../layouts/Layout.astro";
import Comentario from "../../components/Tarjetas/Comentario.astro"

export async function getStaticPaths() {
    const response = await fetch('http://localhost:3000/api/Publicacion', {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
    })

    const data = await response.json();
    return data.map((publicacion: { id: number }) => ({
        params: { id: publicacion.id.toString() },
    }));
}

const { id } = Astro.params;

async function ObtenerPublicacion(id: number | undefined) {
    if (!id) {
        throw new Error("ID is undefined");
    }
    const response = await fetch(`http://localhost:3000/api/Publicacion/Publicacion/${id}`,{
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
    })
    if (!response.ok) {
        throw new Error(`Error: ${response.status}`);
    }
    const data = await response.json();
    return data;
}

const publicacion = await ObtenerPublicacion(id);

console.log(publicacion)
---

<Layout title="Publicacion">
    <main class="col-span-2 p-6 mt-20">
        <header class="flex flex-row justify-between items-center gap-4s">
            <div class="flex flex-row gap-4">
                <a href="/">Volver</a>
                <a href="/MirarPerfil" class="flex flex-row gap-4 items-center">
                    <img
                        src="https://yt3.googleusercontent.com/aPuVOhE66m_en_vzdz5SpbytqxUd-xHyAfLyn_lIVcC88dYT85WVhdYKrbZgRz7QMXvF7Ap_4fQ=s900-c-k-c0x00ffffff-no-rj"
                        alt="perfil"
                        class="w-13 rounded-4xl"
                    />
                    <span>Nombre Perfil</span>
                </a>
            </div>
            <div>
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3.5 px-4 rounded-md cursor-pointer" id="seguir">Seguir</button>
            </div>
        </header>
        <section class="flex flex-col gap-4 pt-4">
            <span>Descripcion</span>
            <img
                src="https://camo.githubusercontent.com/99c0e392770d7252464a8ca4e63abf27193b6000c67c874b013205d3b5821e79/687474703a2f2f69332e7974696d672e636f6d2f76692f4b70344d7661706f356b632f6d617872657364656661756c742e6a7067"
                alt="Foto"
                class="rounded-3xl"
            />
            <div class="flex flex-row gap-4">
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3.5 px-4 rounded-md">Like</button>
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3.5 px-4 rounded-md">Comentar</button>
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3.5 px-4 rounded-md">Compartir</button>
            </div>
            <div>
                <h1 class="font-bold">Comentarios</h1>
                <div class="flex flex-row gap-4">
                    <img
                        src="https://yt3.googleusercontent.com/aPuVOhE66m_en_vzdz5SpbytqxUd-xHyAfLyn_lIVcC88dYT85WVhdYKrbZgRz7QMXvF7Ap_4fQ=s900-c-k-c0x00ffffff-no-rj"
                        alt=""
                        class="rounded-full w-20"
                    />
                    <textarea
                        name=""
                        id=""
                        placeholder="Escribe un comentario"
                        class="w-full resize-none bg-white"
                    ></textarea>
                    <button
                        class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3.5 px-4 rounded-md cursor-pointer"
                    >
                        Comentar
                    </button>
                </div>
            </div>
            <div>
                <Comentario />
            </div>
        </section>
    </main>
</Layout>