---
import Layout from "../layouts/Layout.astro";
import Publicacion from "../components/Tarjetas/Publicacion.astro";
---

<Layout title="ProConnect">
	<div class="col-span-2 p-6 mt-20">
		<Publicacion
			imagenPost="https://i.ytimg.com/vi/QqheS8yJ7QU/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLC968RmzLk8RjL8EkIVHqCrgjCFeg"
			imagenPerfil="https://yt3.googleusercontent.com/BaWrdCez09FC6hT6ItEnPBPy9iU-q3ko5kuaGXPaPlI0EuZtqnklw9dd6H2cWVbAy7NlILOXaW0=s160-c-k-c0x00ffffff-no-rj"
			titulo="Me voy de youtube"
			perfil="Dalton"
			descripcion="Hola amigos esta es una triste noticia, me voy de youtube, pero no se preocupen, me voy a twitch"
		/>
		<Publicacion
			imagenPost=""
			imagenPerfil="https://yt3.googleusercontent.com/BaWrdCez09FC6hT6ItEnPBPy9iU-q3ko5kuaGXPaPlI0EuZtqnklw9dd6H2cWVbAy7NlILOXaW0=s160-c-k-c0x00ffffff-no-rj"
			titulo="Me voy de youtube"
			perfil="Dalton"
			descripcion="Hola amigos esta es una triste noticia, me voy de youtube, pero no se preocupen, me voy a twitch"
		/>
		<Publicacion
			imagenPost="https://camo.githubusercontent.com/99c0e392770d7252464a8ca4e63abf27193b6000c67c874b013205d3b5821e79/687474703a2f2f69332e7974696d672e636f6d2f76692f4b70344d7661706f356b632f6d617872657364656661756c742e6a7067"
			imagenPerfil="https://yt3.googleusercontent.com/aPuVOhE66m_en_vzdz5SpbytqxUd-xHyAfLyn_lIVcC88dYT85WVhdYKrbZgRz7QMXvF7Ap_4fQ=s900-c-k-c0x00ffffff-no-rj"
			titulo="Curso de Pyhton 10 Horas"
			perfil="MoureDev"
			descripcion="Hola amigos, les traigo un curso de python de 10 horas, espero que les guste"
		/>
		<Publicacion
			imagenPost=""
			imagenPerfil="https://yt3.googleusercontent.com/aPuVOhE66m_en_vzdz5SpbytqxUd-xHyAfLyn_lIVcC88dYT85WVhdYKrbZgRz7QMXvF7Ap_4fQ=s900-c-k-c0x00ffffff-no-rj"
			titulo="Nuevo curso de Python en mi canal de youtube"
			perfil="MoureDev"
			descripcion="Hola amigos, les traigo un curso de python de 10 horas, espero que les guste"
		/>
	</div>
</Layout>
