---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ProConnect">
	<div class=" bg-red-500 col-span-2 p-6 mt-20">
		<h1 class="text-3xl font-bold">Bienvenido a ProConnect</h1>
	</div>
</Layout>
