---
import "../styles/global.css";
import Navigation from "./Navigation.astro";
---

<header class="text-white p-4 w-full fixed top-0 h-22 bg-white bg-opacity-50 z-50">
    <nav>
        <Navigation />
    </nav>
</header>