---
import IconMessage from "./IconMessage.astro";
import VistaAmigo from "./VistaAmigo.astro";
---

<div class="flex flex-items justify-between px-3 ">
    <a href="/" id="index">
        <img src="/assets/ProConnect.webp" alt="" class="w-14 rounded-2xl" />
    </a>
    <div class="flex flex-items justify-center space-x-4 items-center gap-4">
        <a href="/Buscar">Buscador</a>
        <a
            href="IniciarSesion"
            id="BotonDinamico"
            class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3.5 px-4 rounded-md"
            style="display: none;"
        >
            Acceder
        </a>
        <div id="amigos" style="display: none;">
            <VistaAmigo/>
        </div>
        <div id="mensajes" style="display: none;">
            <a href="/Mensajes">
                <IconMessage/>
            </a>
        </div>
        <div id="empleo" style="display: none;">
            <a href="/BuscarEmpleo">Buscar Empleo</a>
        </div>
        <div>
            <select
                id="options"
                class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded-md shadow leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
            >
                <option value="">Selecciona...</option>
                <option value="mirarPerfilUsuario">Mirar Perfil</option>
                <option value="opciones">Opciones</option>
                <option value="cerrarSesion">Cerrar Sesión</option>
            </select>
        </div>
    </div>
</div>
<script src="./../scripts/js/Index.js"></script>
